:root, body[scheme=bright_light] {
    --skeleton_highlight: rgba(255, 255, 255, 0.7);
}

body[scheme=space_gray] {
    --skeleton_highlight: rgba(255, 255, 255, 0.05);
}

.Skeleton {
    background: var(--field_background);
    background-image: linear-gradient(
        90deg,
        var(--field_background),
        var(--skeleton_highlight),
        var(--field_background)
    );
    background-size: 200px 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    /* https://github.com/VKCOM/VKUI/blob/master/src/components/FormField/FormField.css#L8 */
    border-radius: 8px;
    display: inline-block;
    animation: skeleton-wave 2s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
    width: 100%;
}

@keyframes skeleton-wave {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: calc(400px + 100%) 0;
    }
}
