.SlangCard__body {
    padding: 12px 16px;
}

.SlangCard__body--skeleton {
    padding: 12px 6px;
}

.SlangCard__tappable {
    border-radius: 8px;
}

.SlangCard__img {
    object-fit: cover;
    display: block;
    border-radius: 8px 8px 0 0;
}

.SlangCard__text:not(:last-child) {
    margin-bottom: 4px;
}

.SlangCard__description {
    margin-bottom: 6px;
}


.SlangCard__text--secondary {
    color: #AAAEB2;
}

.SlangCard__caption {
    color: var(--text_secondary);
}

/*
 * iOS
 */
.SlangCard--ios .SlangCard__tappable {
    border-radius: 10px;
}

.SlangCard--ios .SlangCard__img {
    border-radius: 10px 10px 0 0;
}
